.app {
  width: 100%;
  height: 100vh;
  background-color: #0d0a0b;
  background-image: linear-gradient(315deg, #0d0a0b 0%, #009fc2 74%);
  //background-color: #2a2a72;
  //background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
  font-family: 'Courier New', Courier, monospace;
}
