<div class="w-50 mx-auto p-5 mt-3 welcome">
  <h1 class="display-6 fw-bold text-light text-center">Welcome To Quiz Game</h1>
  <h4 class="fw-bold text-light">Rules:</h4>
  <ul class="list-group list-group-flush rules">
    <li class="list-group-item"><span class="fw-bold">1-)</span><span class="fw-bold text-primary">10</span> points are given for each correct answer</li>
    <li class="list-group-item"><span class="fw-bold">2-)</span><span class="fw-bold text-primary">-10</span> points are given for each incorrect answer</li>
    <li class="list-group-item"><span class="fw-bold">3-)</span>You will have <span class="fw-bold text-primary">60</span> seconds to answer each question</li>
    <li class="list-group-item"><span class="fw-bold">4-)</span>Refreshing the page will reset the <span class="fw-bold text-primary">Game</span></li>
  </ul>
  <h1 class="display-6 fw-bold text-light text-center">Good Luck Bro</h1>
  <div class="name col-md-12 my-3">
    <input #name type="text" placeholder="Enter your name ..." class="form-control">
  </div>
  <div class="d-flex justify-content-center">
    <button (click)="startGame()" class="btn btn-outline-light btn-lg" routerLink="{{routeGame}}">Start Game</button>
  </div>
</div>
